body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
.container-page {
    margin-top: 400px;
    opacity: 0.9;
    /* background-color: #000; */
    /* color: #fff; */
    /* padding: 40px; */
}

.top-20 {
    margin-top: 20px;
}

section {
    margin-bottom: 50px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #72e4ad;
}

label.form {
    font-size: 14px;
    margin-right: 20px;
}

/*
input {
    margin-right: 30px;
}
*/